<article>
    <img src="{{user.image}}" alt="user image">
    <p><b>Name:</b> {{user.name}}</p>
    <p><b>Email:</b> {{user.email}}</p>
</article>

{{#if}}
    <form action="/profile/{{user._id}}/edit" method="POST" enctype="multipart/form-data">

        <input type="text" name="name" value="{{user.name}}" placeholder="name">

        <input type="text" name="email" value="{{user.email}}" placeholder="email">

        <input type="text" name="password" value="{{user.password}}" placeholder="password">

        <input type="file" name="profilepic" value="{{user.password}}" placeholder="Upload a photo">

        <button type="submit">Update</button>
    </form>
{{/if}}